<p id="notice"><%= notice %></p>



<h1>
<%= link_to 'New User', new_user_path, class: "btn btn-primary" %></h1>
<div class="row">
<% @users.each do |user| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Name: <%= user.name %> ID:<%= user.id %> </h3>
        <h3>Age:<%= user.age %> yrs</h3>
        <%= link_to "More Info", user, class: "btn btn-default" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>



